:root {
	--editor-color-text: theme("colors.white");
	--editor-color-constant: theme("colors.emerald.300");
	--editor-color-string: theme("colors.emerald.300");
	--editor-color-comment: theme("colors.zinc.500");
	--editor-color-keyword: theme("colors.sky.300");
	--editor-color-parameter: theme("colors.pink.300");
	--editor-color-function: theme("colors.violet.300");
	--editor-color-string-expression: theme("colors.emerald.300");
	--editor-color-punctuation: theme("colors.zinc.200");
	/* --foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
	/* :root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	} */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/* code span {
	margin-right: theme("spacing.1");
} */

code.code:not(.nohighlight),
code:not(.nohighlight) .hljs {
	color: var(--editor-color-text);
}
code:not(.nohighlight) .hljs-strong {
	font-weight: theme("fontWeight.semibold");
}
code:not(.nohighlight) .hljs-emphasis {
	font-style: italic;
}

code:not(.nohighlight) .hljs-tag,
code:not(.nohighlight) .hljs-selector,
code:not(.nohighlight) .hljs-literal,
code:not(.nohighlight) .hljs-section,
code:not(.nohighlight) .hljs-link {
	color: theme("colors.red.500");
}

code:not(.nohighlight) .hljs-subst {
	/* default */
}

code:not(.nohighlight) .hljs-string {
	color: var(--editor-color-string);
}

code:not(.nohighlight) .hljs-title.class_ {
	color: var(--editor-color-function);
}
code:not(.nohighlight) .hljs-title {
	color: var(--editor-color-string);
}

code:not(.nohighlight) .hljs-symbol,
code:not(.nohighlight) .hljs-bullet,
code:not(.nohighlight) .hljs-built_in,
code:not(.nohighlight) .hljs-addition,
code:not(.nohighlight) .hljs-template-tag {
	color: var(--editor-color-string-expression);
}
code:not(.nohighlight) .hljs-template-variable {
	color: var(--editor-color-keyword);
}

code:not(.nohighlight) .hljs-comment,
code:not(.nohighlight) .hljs-quote,
code:not(.nohighlight) .hljs-deletion,
code:not(.nohighlight) .hljs-meta {
	color: var(--editor-color-comment);
}

code:not(.nohighlight) .hljs-attr,
code:not(.nohighlight) .hljs-keyword {
	color: var(--editor-color-keyword);
}
code:not(.nohighlight) .hljs-variable {
	color: var(--editor-color-string-expression);
}
code:not(.nohighlight) .hljs-selector-tag,
code:not(.nohighlight) .hljs-literal,
code:not(.nohighlight) .hljs-doctag,
code:not(.nohighlight) .hljs-type,
code:not(.nohighlight) .hljs-name {
	color: var(--editor-color-string);
}
